@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,500;1,400&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

:root {
  --Soft-Blue: hsl(231, 69%, 60%);
  --Soft-Red: hsl(0, 94%, 66%);
  --Grayish-Blue: hsl(229, 8%, 60%);
  --Very-Dark-Blue: hsl(229, 31%, 21%);
}

/* Resets  */

button {
  cursor: pointer;
  border: none;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  font-size: 1.8rem;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 4rem 4rem 0;
  z-index: 9999;
}

nav {
  position: fixed;
  background: hsl(230, 31%, 53%, 0.7);
  inset: 0 0 0 0;
  display: none;
  z-index: 1000;
}

nav ul {
  text-transform: uppercase;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding: min(20vh, 10rem) 2rem;
}

.nav-mobile-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul li {
  display: block;
  text-align: center;
}

nav ul a {
  color: white;
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  display: block;
  margin-left: 0;
}

nav ul a:hover {
  color: var(--Soft-Red);
}

.login-btn {
  background: var(--Soft-Red);
  color: #fff;
  border-radius: 5px;
  padding: 0.7rem 2.5rem;
  text-transform: uppercase;
  margin-top: 3rem;
  border: 2px solid transparent;
}

.login-btn:hover {
  color: black;
  background: transparent;
  border: 2px solid var(--Soft-Red);
}

.login-btn {
  width: 100%;
  display: block;
  margin-left: 0;
  margin-right: 0;
  padding: 1rem 0;
}

.nav-mobile-top {
  display: none;
}

.mobile-nav-toggle {
  background-image: url("/images/icon-hamburger.svg");
  background-repeat: no-repeat;
  width: 2rem;
  aspect-ratio: 1 / 1;
  background-color: transparent;
  position: absolute;
  top: 4rem;
  right: 4rem;
  z-index: 9999;
}

@media screen and (min-width: 900px) {
  .mobile-nav-toggle {
    display: none;
  }

  nav {
    display: inline-block;
    background: none;
    position: inherit;
    width: unset;
    height: unset;
  }

  nav ul {
    width: unset;
    margin: unset;
    display: inline-flex;
    gap: 8rem;
    align-items: center;
    justify-content: space-between;
    padding-top: 0;
  }

  nav ul a {
    color: var(--Very-Dark-Blue);
    font-size: 1.5rem;
    letter-spacing: 1px;
  }

  .login-btn {
    width: unset;
    padding: 1rem 2.5rem;
    margin-top: unset;
  }
}
